{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6 col-lg-5">
            <div class="card shadow">
                <div class="card-body p-5">
                    <h3 class="text-center mb-4">Set New Password</h3>

                    <form method="POST">
                        {% csrf_token %}

                        {% if form.errors %}
                            <div class="alert alert-danger">
                                {{ form.errors }}
                            </div>
                        {% endif %}

                        <div class="mb-3">
                            {{ form.new_password1.label_tag }}
                            {{ form.new_password1 }}
                        </div>

                        <div class="mb-4">
                            {{ form.new_password2.label_tag }}
                            {{ form.new_password2 }}
                        </div>

                        <button type="submit" class="btn btn-success w-100">
                            Change Password
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}