{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6 col-lg-5">
            <div class="card shadow">
                <div class="card-body p-5 text-center">
                    <h3 class="text-success mb-4">Password Reset Successful!</h3>
                    <p class="lead">Your password has been reset successfully.</p>
                    <a href="{% url 'login' %}" class="btn btn-primary">
                        Go to Login
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}