{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %} {% endblock %}</title>

        <!-- plugins:css -->
        <link rel="stylesheet" href="{% static 'dashboard/vendors/mdi/css/materialdesignicons.min.css' %}">
        <link rel="stylesheet" href="{% static 'dashboard/vendors/css/vendor.bundle.base.css' %}">
        <!-- endinject -->

        <!-- Plugin css for this page -->
        <link rel="stylesheet" href="{% static 'dashboard/vendors/jvectormap/jquery-jvectormap.css' %}">
        <link rel="stylesheet" href="{% static 'dashboard/vendors/flag-icon-css/css/flag-icon.min.css' %}">
        <link rel="stylesheet" href="{% static 'dashboard/vendors/owl-carousel-2/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'dashboard/vendors/owl-carousel-2/owl.theme.default.min.css' %}">
        <!-- End plugin css for this page -->

        <!-- Layout styles -->
        <link rel="stylesheet" href="{% static 'dashboard/css/style.css' %}">

        <!-- End layout styles -->

        <link rel="shortcut icon" href="{% static 'dashboard/images/favicon.png' %}" />
    </head>

  <body>
         <div class="container-scroller">
            <!-- partial:partials/_sidebar.html -->
            {% include 'partials/sales_sidebar.html' %}
            <!-- partial -->
            <div class="container-fluid page-body-wrapper">
                <!-- partial:partials/_navbar.html -->
                {% include 'partials/_navbar.html' %}
                <!-- partial -->
                <div class="main-panel" style="background-color: rgb(239, 243, 243);">
                    {% if messages %}
                        <div class="container-fluid pt-3 px-4">
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                                    {{ message }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}

                    {% block content %}
                    <!-- Put content inside -->
                    {% endblock %}
                    <!-- content-wrapper ends -->
                    <!-- partial:partials/_footer.html -->
                    {% include 'partials/_footer.html' %}
                    <!-- partial -->
                </div>
                <!-- main-panel ends -->
            </div>
            <!-- page-body-wrapper ends -->
        </div>
        <!-- container-scroller -->
        <!-- plugins:js -->
        <!-- CORE -->
        <script src="{% static 'dashboard/vendors/js/vendor.bundle.base.js' %}"></script>

        <!-- PLUGINS -->
        <script src="{% static 'dashboard/vendors/chart.js/Chart.min.js' %}"></script>
        <script src="{% static 'dashboard/vendors/progressbar.js/progressbar.min.js' %}"></script>
        <script src="{% static 'dashboard/vendors/jvectormap/jquery-jvectormap.min.js' %}"></script>
        <script src="{% static 'dashboard/vendors/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
        <script src="{% static 'dashboard/vendors/owl-carousel-2/owl.carousel.min.js' %}"></script>

        <!-- UI SCRIPTS -->
        <script src="{% static 'dashboard/js/off-canvas.js' %}"></script>
        <script src="{% static 'dashboard/js/hoverable-collapse.js' %}"></script>
        <script src="{% static 'dashboard/js/misc.js' %}"></script>
        <script src="{% static 'dashboard/js/settings.js' %}"></script>
        <script src="{% static 'dashboard/js/todolist.js' %}"></script>

        <!-- PAGE SCRIPT -->
        <script src="{% static 'dashboard/js/dashboard.js' %}"></script>

        <!-- Custom js for this page -->
        <script src="{% static 'dashboard/js/chart.js' %}"></script>
        <!-- End custom js for this page -->
  </body>
</html>
