{% load static %}

<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
  <a class="sidebar-brand brand-logo" href="{% url 'home' %}">
    <img src="{% static 'dashboard/images/logo.png' %}" alt="logo" />
  </a>
  <a class="sidebar-brand brand-logo-mini" href="{% url 'home' %}">
    <img src="{% static 'dashboard/images/logo-mini.svg' %}" alt="logo" />
  </a>
</div>
  <ul class="nav">
    <li class="nav-item nav-category">
      <span class="nav-link">Navigation</span>
    </li>
     <li class="nav-item menu-items mb-2">
      <a class="nav-link" href="{% url 'home' %}">
        <span class="menu-icon">
          <i class="mdi mdi-home"></i>
        </span>
        <span class="menu-title">Home</span>
      </a>
    </li>    
     <li class="nav-item menu-items mb-2">
      <a class="nav-link" href="{% url 'store_home' %}">
        <span class="menu-icon">
          <i class="mdi mdi-home"></i>
        </span>
        <span class="menu-title">Overview</span>
      </a>
    </li>
    <li class="nav-item menu-items mb-2">
      <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
        <span class="menu-icon">
          <i class="mdi mdi-laptop"></i>
        </span>
        <span class="menu-title">products</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'Add_product'%}">Add product</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'product_list'%}">Product list</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'trash_products'%}">Trash</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item menu-items mb-2">
      <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
        <span class="menu-icon">
          <i class="mdi mdi-security"></i>
        </span>
        <span class="menu-title">Stock</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="auth">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'stock_adjustment' %}"> stock adjustment </a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'stock_levels' %}"> stock level </a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'live_stock_records' %}"> Live stock records </a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item menu-items mb-2">
      <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
        <span class="menu-icon">
          <i class="mdi mdi-security"></i>
        </span>
        <span class="menu-title">Store</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="auth">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'add_store' %}"> Register Store </a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'store_list' %}"> List Store </a></li>
        </ul>
      </div>
    </li>
  </ul>
</nav>